<img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.politecnicojic.edu.co/images/logo/logo-institucion-v.png" width="237" height="134" />
<div class="jumbtron">
    <h6 class="display-7 text-center">
        Cloud APP
        <br> Elaborado por:
        <br> Cristian Camilo Vélez
        <br> Adolfo Piedrahita Marín
        <br> Programacion Distribuida y Paralela
        <br> Hernando Recaman Chaux
        <br> Mayo 2022-1
    </h6>
    <hr>
    <h6 class="display-6 text-center">Registro de Estudiantes</h6>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Registrar Estudiantes
            </h6>
            <app-estudiante></app-estudiante>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado Estudiantes
            </h6>
            <app-list-estudiantes></app-list-estudiantes>
        </div>
    </div>
</div>