<div class="jumbtron">
    <h1 class="display-4" text-center>Registro de Estudiantes</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Registar Estudiantes
            </h6>
            <app-estudiante></app-estudiante>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado Estudiantes
            </h6>
            <app-list-estudiantes></app-list-estudiantes>
        </div>
    </div>
</div>